  <mat-toolbar color="primary">
        <mat-toolbar-row>
         
          <div>
            <a mat-button [routerLink]="''">Home </a>
            
            <a mat-button [routerLink]="'/post'">Post Data </a>
            <a mat-button [routerLink]="'/photodata'">Photo Data </a>
            <a mat-button [routerLink]="'/comment'">Comment Data </a>
            <a mat-button [routerLink]="'/todos">Todos Data </a>
            <a mat-button [routerLink]="'/user'">User Data </a>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>