table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.photoData-section {
  padding-right:30px;
  padding-left:30px;
  margin-top:30px;
  margin-bottom:30px;
}